.fond {
    font-family: Space mono, cursive;
}

.test1 {
    font-size: 40px;
    color: white;
    background-color: #ff3333;
    display: block;
    position: absolute;
}

.test {
    margin-left: 1em;
    margin-right: 1em;
}

.carte {
    display: inline-flex;
    margin-top: 5em;
    margin-left: 30em;
}

.carte1 {
    display: inline-flex;
    margin-top: 1em;
    margin-left: 30em;
}

.card {
    margin-right: 1em;
}

.card-body {
    background-color: #ff3333;
}

.bouton {
    margin-left: 10em;
    font-size: 15px;
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

.tourne {
    background-color: white;
    transform: rotate(-12deg);
    position: absolute;
    height: 30px;
    width: 270px;
    margin-top: 3em;
    margin-left: 1px;
    font-size: 20px;
    color: red;
}

.tournetext {
    margin-left: 1em;
    font-size: 15px;
}
.resume{
    color: red;
    position: absolute;
    text-align: right;
    margin-top: 10em;
    margin-left: 13em;
    font-weight: lighter;
    font-size: 12px;
}
.heure{
    font-size: 9px;
}
.place{
    font-size: 12px;
    font-weight: bold;
}
.prix{
    margin-left: 11em;
    color: white;
    font-size: 12px;
    font-weight: bold;
}
.description{
    margin-top: 1em;
    font-size: 12px;
}
.complet{
    margin-top: 3em;
    margin-left: 2em;
    font-weight: bold;
    font-size: 20px;
}
.inscription{
    font-size: 60px;
    color: white;
    background-color: #ff3333;
    position: absolute;
    margin-top: 2em;
    margin-left: 4em;
    display: inline-flex;
}
.inscri1{
    margin-left: 1em;
    margin-right: 1em;
}
.titreinscri{
    background-color: white;
    color: #4d004d;
}
.cardinscri{
    position: absolute;
    margin-top: 16em;
    margin-left: 20em;
}
.formulaire{
    position: absolute;
    margin-top: 16em;
    margin-left: 42em;
}
.ident{
    width: 66em;
    height: 3em;
    margin-top: 1em;
}
.menu{
    margin-top: 1em;
    margin-left: 2em;
    width: 20em;
    height: 3em;
}
.selection{
    display: inline-flex;
}
.textinscription{
    margin-top: 1em;
    color: white;
    font-size: 20px;
}
.adresse{
    font-weight: lighter;
    color: white;
    margin-top: 1em;
}
.asterisque{
    font-size: 12px;
    margin-top: 1em;
    color: white;
}
.boutonform{
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-top: 2em;
    margin-left: 33em;
}
.titregestionsalles{
    font-size: 60px;
    color: white;
    background-color: #ff3333;
    position: absolute;
    margin: auto;
    display: inline-flex;
}
.formsalles{
    margin-top: 10em;
    margin-left: 25em;
    position: absolute;
}
.boutonsalles{
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-top: 2em;
    margin-left: 45em;
}
.menuevent{
    margin-top: 1em;
    margin-left: 1px;
    width: 66em;
    height: 3em;
}